.vscode/**
.vscode-test/**
.claude/**
.superpowers/**
.mimosa/**
.zcode/**
out/**
out-test/**
out-test-webview/**
src/**
.gitignore
**/tsconfig.json
tsconfig.test.json
tsconfig.webview.test.json
**/.eslintrc.json
**/*.map
**/*.bak_*
**/*.ts
**/webpack.config.js
node_modules/**
i18n/**
icon.xcf
scripts/**
webviewsrc/**
resource/**
.github/**
original/**
